@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



/* MODIFICATION FOR CUSTOM SCROLLBAR */

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin: 15px;
  /* Set the background color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333; /* Set the color of the scrollbar handle */
  border-radius: 5px; /* Optional: Add border radius to make it rounder */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; /* Set the color of the scrollbar handle when hovered */
}

html {
  scroll-behavior: smooth;
}
html {
  overscroll-behavior: none;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

@font-face {
  font-family: "Midtown"; /*Can be any text*/
  src: url("./fonts/Midtown.ttf") format("truetype");
}

/* for header aanimation */
@keyframes SlideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slide-in {
  animation: SlideIn 0.5s ease-out forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-slide-out {
  animation: slideOut 0.5s ease-out forwards;
}

@keyframes scroll {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 700ms linear forwards;
}

